footer
{
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}