.about
{
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.about .title
{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.about .title h1
{
    text-align: center;
}

.about .content
{
    width: 70%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.about .content .photo img
{
    display: block;
    width: auto;
    height: auto;
    border-radius: 70%;
}

.about .content .text
{
    width: 80%;
    font-weight: 900;
    line-height: 150%;
}

@media (orientation: portrait)
{
    .about .title h1
    {
        font-size: 5vw;
    }

    .about .content .text
    {
        font-size: 2vw;
    }
}

@media (orientation: landscape)
{
    .about .title h1
    {
        font-size: 5vh;
    }

    .about .content .text
    {
        font-size: 2vh;
    }
}