.CV
{
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.CV .title
{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.CV .title h1
{
    text-align: center;
}

.CV .content
{
    width: 70%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.CV .content .link
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.CV .content .link a
{
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    color: red;
}

.CV .content .link img
{
    width: 2vh;
    height: 2vh;
}

@media (orientation: portrait)
{
    .CV .title h1
    {
        font-size: 5vw;
    }

    .CV .content .link a
    {
        font-size: 2vw;
    }
}

@media (orientation: landscape)
{
    .CV .title h1
    {
        font-size: 5vh;
    }

    .CV .content .link a
    {
        font-size: 2vh;
    }
}