footer
{
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (orientation: portrait)
{
    footer
    {
        font-size: 3vw;
    }
}

@media (orientation: landscape)
{
    footer
    {
        font-size: 3vh;
    }
}